<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}"><img style="position:relative; float:right; margin-left: -5%;" src="{{ url_for('video_feed_two') }}">
    <br></br>
    <img style="position:relative; float:left; margin-top: 5%;" src="{{ url_for('video_feed_three') }}"><img style="position:relative; float:right; margin-top: 5%;" src="{{ url_for('video_feed_four') }}">
    <br></br>
    <img style="position:relative; float:left; margin-top: 5%;" src="{{ url_for('video_feed_five') }}"><img style="position:relative; float:right; margin-top: 5%;" src="{{ url_for('video_feed_six') }}">
   <br></br>

  </body>
</html>